{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="col-sm-10 mt-5">
    <div class="text-center">
        <img src="{%static 'images/man.jpg'%}" class="image-thumbnail" height="160px" alt="Profile Image">
    </div>
    <div class="text-white font-weight-bold mt-4 mx-2 fs">
        <h2>Assalam'O'Alaikom!</h2>
    </div>
    <div class="text-white text-justify px-3 mt-4 mx-2">
        <p class="ti">Lorem ipsum dolor <b class="text-warning">Professor</b> sit amet consectetur adipisicing elit.
             Quos id blanditiis cumque itaque tempore consectetur error voluptas rerum veritatis ad quasi mollitia non aspernatur, adipisci ipsum alias quaerat distinctio porro commodi.
             Eos repudiandae minima dolore asperiores obcaecati architecto et at.
             Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Ullam temporibus odio eum doloribus nesciunt praesentium magni, dolor odit aliquam dicta.
            </p>
    </div>

    <div class="text-center fs"> 
        <a href="/contact" class="btn btn-outline-warning mt-4 my-3 hmbtn">Hire Me</a>
        <a href="/contact" class="btn btn-outline-warning mt-4  my-3">Contact Me</a>
    </div>


</div>
{%endblock content%}