{%extends 'base.html'%}
{%load static%}
{%block content%}
<div class="mt-5">
    <h1 class="text-warning mx-4 mb-5 border-bottom  fs">Services</h1>
    <div class="row mx-2">

        <div class="col-sm-4 text-center">
            <i class="fas fa-search fa-2x mb-3 ic"></i>
            <h2 class="text-white">SEO</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
        </div>

        <div class="col-sm-4 text-center">
        <i class="fas fa-fill-drip fa-2x mb-3 ic"></i>
            <h2 class="text-white">Web Design</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
        </div>

        <div class="col-sm-4 text-center">
            <i class="fas fa-code fa-2x mb-3 ic"></i>
                <h2 class="text-white">Web Devolopment</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
            </div>
    </div>



    <div class="row mx-2 mt-4">

        <div class="col-sm-4 text-center">
            <i class="fas fa-database fa-2x mb-3 ic"></i>
            <h2 class="text-white">Database</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
        </div>

        <div class="col-sm-4 text-center">
        <i class="fab fa-android fa-2x mb-3 ic"></i>
            <h2 class="text-white">Android Apps</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
        </div>

        <div class="col-sm-4 text-center">
            <i class="fab fa-apple fa-2x mb-3 ic"></i>
                <h2 class="text-white">IOS Apps</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
            </div>
    </div>



    <div class="row mx-2 mt-4">

        <div class="col-sm-4 text-center">
            <i class="fas fa-search fa-2x mb-3 ic"></i>
            <h2 class="text-white">SEO</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
        </div>

        <div class="col-sm-4 text-center">
        <i class="fas fa-fill-drip fa-2x mb-3 ic"></i>
            <h2 class="text-white">Web Design</h2>
            <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
        </div>

        <div class="col-sm-4 text-center">
            <i class="fas fa-code fa-2x mb-3 ic"></i>
                <h2 class="text-white">Web Devolopment</h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, minima.</p>            
            </div>
    </div>




</div>





{%endblock content%}